[submodule "GLAZE-WM-make-windows-pretty-main-dizzi"]
  branch = main  # <-- Esta línea es importante
	path = GLAZE-WM-make-windows-pretty-main-dizzi
	url = https://github.com/dizzi1222/GLAZE-WM-make-windows-pretty-main-dizzi
[submodule "FCTicService.github.6c-Diego-05"]
  branch = main  # <-- Esta línea es importante
	path = FCTicService.github.6c-Diego-05
	url = https://github.com/dizzi1222/FCTicService.github.6c-Diego-05
[submodule "Just-coding"]
  branch = main  # <-- Esta línea es importante
	path = Just-coding
	url = https://github.com/dizzi1222/Just-coding
[submodule "Librezam"]
	branch = main  # <-- Esta línea es importante
	path = Librezam
	url = https://github.com/dizzi1222/Librezam
[submodule "Proyecto-App-MCSD"]
	branch = main  # <-- Esta línea es importante
	path = Proyecto-App-MCSD
	url = https://github.com/dizzi1222/Proyecto-App-MCSD
[submodule "REACT-Diego-Dizzi-Dashboard"]
	branch = main  # <-- Esta línea es importante
	path = REACT-Diego-Dizzi-Dashboard
	url = https://github.com/dhardi007/REACT-Diego-Dizzi-Dashboard
[submodule "portfolio-terminal-dhardi"]
	branch = main  # <-- Esta línea es importante
	path = portfolio-terminal-dhardi
	url = https://github.com/dizzi1222/portfolio-terminal-dhardi.git
[submodule "dizzi1222"]
	branch = main  # <-- Esta línea es importante
	path = dizzi1222
	url = https://github.com/dizzi1222/dizzi1222
[submodule "kimu-underground"]
	branch = main  # <-- Esta línea es importante
	path = kimu-underground
	url = https://github.com/notKimu/kimu-underground.git
[submodule "retro-portfolio"]
	branch = main  # <-- Esta línea es importante
	path = retro-portfolio
	url = https://github.com/notKimu/retro-portfolio.git
[submodule "PCE-Agencia"]
	path = PCE-Agencia
	url = https://github.com/dhardi007/PCE-Agencia
[submodule "portafolio-eric-godtier"]
	path = portafolio-eric-godtier
	url = https://github.com/EricDominici/portafolio-eric-godtier.git
[submodule "jscamp"]
	path = jscamp
	url = https://github.com/dizzi1222/jscamp.git
	branch = main
[submodule "proyeccion-astral"]
	path = proyeccion-astral
	url = https://github.com/dizzi1222/proyeccion-astral-disculpa.git
[submodule "dhardi.dev"]
	path = dhardi.dev
	url = https://github.com/dizzi1222/dhardi.dev.git
[submodule "opencode-discord-rpc"]
	path = opencode-discord-rpc
	url = https://github.com/dizzi1222/opencode-discord-rpc.git
	branch = main
[submodule "opencode.nvim"]
	path = opencode.nvim
	url = https://github.com/dizzi1222/opencode.nvim
	branch = main
[submodule "neocursor.nvim"]
	path = neocursor.nvim
	url = https://github.com/dizzi1222/neocursor.nvim
	branch = main
